version: '3.4'

services:
   xershade.ca.website:
     build: 
       context: .
       dockerfile: Dockerfile
     expose:
        - 80
     restart: unless-stopped
     environment:
        VIRTUAL_HOST: website.xershade.ca
        LETSENCRYPT_HOST: website.xershade.ca
        LETSENCRYPT_EMAIL: xershade.ca@gmail.com
        ASPNETCORE_HTTP_PORTS: 80
     env_file:
        - .env
     container_name: xershade.ca.website

networks:
  default:
    external:
      name: system.nginx.proxy
